QCheckbox, QComboBox, QGroupBox, QSpinBox, QDoubleSpinBox,
QFrame, QGroupBox, QLineEdit, QTabBar, QTextEdit, 
QToolBar, QToolButton, QPushButton, QRadioButton, 
QDockWidget, QTabBar, QTabWidget, 
QLabel, QAbstractScrollArea {
    font-weight:400;
    font-size: 8pt;
    font-family: "Segoe UI";
}